# Python Classes

In [4]:
z = {}
print(type(z))
z["name"] = 'Stacy'
z["Age"] = 30
z

<class 'dict'>

{'name': 'Stacy', 'Age': 30}

In [5]:
z["name"]

'Stacy'

In [6]:
z['Age'] = 40

In [7]:
z

{'name': 'Stacy', 'Age': 40}

## Initializing a class

In [8]:
class MyClass:
    name='Blah'
    age='28'
    location='Ind'

In [9]:
myclass = MyClass()

In [10]:
myclass.name

'Blah'

In [11]:
class Dog:
    def __init__(self, height, age, breed):
        self.height = height
        self.age = age
        self.breed = breed

In [12]:
german_shepperd = Dog()

TypeError: Dog.__init__() missing 3 required positional arguments: 'height', 'age', and 'breed'

In [13]:
german_shepperd = Dog(1.5, 5, 'German')

In [14]:
print(german_shepperd)

<__main__.Dog object at 0x000002042D4F95A0>

In [15]:
german_shepperd.age

5

In [16]:
german_shepperd.height

1.5

In [17]:
german_shepperd.breed

'German'

In [18]:
class Dog:
    def __init__(self, height, age, breed):
        self.height = height
        self.age = age
        self.breed = breed

    def about(self):
        print(f"My breed is {self.breed} and I age about {self.age} and my height is {self.height}")

In [19]:
german_shepperd = Dog(1.5, 5, 'German')
german_shepperd.about()

My breed is German and I age about 5 and my height is 1.5

In [20]:
street_dg = Dog(.5, 1, 'Street')
street_dg.about()

My breed is Street and I age about 1 and my height is 0.5

In [21]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [22]:
p1 = Person('John', 36)

In [23]:
class Person:
    def __init__(capture, name, age):
        capture.name = name
        capture.age = age

In [24]:
p1 = Person('John', 36)

In [25]:
print(p1.age, p1.name)

36 John

In [26]:
print(p1.name, p1.age)

John 36

In [27]:
print(f"{p1.name} is having age about {p1.age}")

John is having age about 36

In [28]:
print("{0} is having age about {1}".format(p1.name, p1.age))

John is having age about 36

In [29]:
print(p1)

<__main__.Person object at 0x000002042D4E9B40>

In [30]:
p2 = Person('Mary', 25)
p2.name, p2.age

('Mary', 25)

In [31]:
p2.age=35

In [32]:
p2.name, p2.age

('Mary', 35)

In [33]:
def fn_name():
    """ this is doc string from fn_name """
    print("Hello world!")

In [34]:
fn_name.__doc__

' this is doc string from fn_name '

In [35]:
# string representation of an object with __str__ function
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return f"Person is {self.name} with age {self.age}"

In [36]:
p1 = Person("John", 35)

In [37]:
print(p1)

Person is John with age 35

In [38]:
# we can have a function within class that can be called.
# This is called a method within an object.
# Methods in objects are functions that belong to object.
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print(f"Hello my name is {self.name}")
        print(f"My age is {self.age}")

In [39]:
p1 = Person("John", 36)

In [40]:
p1.age

36

In [41]:
p1.name

'John'

In [42]:
p1.myfunc()

Hello my name is John
My age is 36

In [43]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self, foreign_variable='a'):
        print(f"Hello my name is {self.name}")
        print(f"My age is {self.age}")
        print(f"foreign value is {foreign_variable}")

In [44]:
p1 = Person("John", 36)

In [45]:
p1.myfunc()

Hello my name is John
My age is 36
foreign value is a

In [46]:
p1.myfunc('foo')

Hello my name is John
My age is 36
foreign value is foo

In [47]:
# to update the object
p1.age = 40
p1.myfunc()

Hello my name is John
My age is 40
foreign value is a

In [48]:
# to delete the object
del p1

In [49]:
p1

NameError: name 'p1' is not defined

# Python class inheritance

- lets discuss how a child class inherits properties from its parent

In [50]:
# parent class
class SchoolDetails:
    def __init__(self, schoolname, yearofadmission):
        self.schoolname = schoolname
        self.yearofadmission = yearofadmission
    def display_school_details(self):
        print(f"The admission year for {self.schoolname} is {self.yearofadmission}")

In [51]:
# child class
# note how we use parent class properties within it
# for now lets define a simple child class which does not have anything.
class StudentDetails(SchoolDetails):
    pass

In [52]:
sd1 = StudentDetails('PythonClasses', '2024')

In [53]:
sd1.schoolname

'PythonClasses'

In [54]:
sd1.yearofadmission

'2024'

In [57]:
sd1.display_school_details()

The admission year for PythonClasses is 2024

In [55]:
sd = SchoolDetails('Blah', '2023')

In [56]:
sd.display_school_details()

The admission year for Blah is 2023

In [58]:
# child class with init
class StudentDetails(SchoolDetails):
    def __init__(self, schoolname, yearofadmission, fname, lname, batch):
        super().__init__(schoolname, yearofadmission)
        # we can also write above line as below
        # SchoolDetails.__init__(self, schoolname, yearofadmission)
        self.fname = fname
        self.lname = lname
        self.batch = batch
    def displaystd(self):
        print(f"{self.fname} {self.lname} joined {self.schoolname} in {self.batch}, {self.yearofadmission} ")
        print(self.display_school_details())

In [59]:
p1 = StudentDetails("MySchool", "2024", "John", "Miller", "2")
p1.displaystd()

John Miller joined MySchool in 2, 2024
The admission year for MySchool is 2024
None

In [60]:
displaystd()

NameError: name 'displaystd' is not defined

In [61]:
p1.schoolname

'MySchool'

In [62]:
p1.yearofadmission

'2024'

In [63]:
p1.fname

'John'

In [64]:
p1.lname

'Miller'

In [65]:
p1.display_school_details()

The admission year for MySchool is 2024

In [66]:
sd = SchoolDetails('Blah', '2024')

In [67]:
sd.displaystd()

AttributeError: 'SchoolDetails' object has no attribute 'displaystd'

# Python Encapsulation

In [1]:
class Base:
    def __init__(self):
        # protected member. Declare and do not update here.
        self.val = 2

In [2]:
obj1 = Base()
obj1.val

2

In [3]:
class Derived(Base):
    def __init__(self):
        Base.__init__(self)
        print(f"Values from inheritance of protected member {self.val}")

        # modify the value of val here.
        self.val=3

In [4]:
obj2 = Derived()
obj2.val

Values from inheritance of protected member 2

3

In [72]:

obj2.val

3

In [73]:
obj1.val=3

In [74]:
obj2 = Derived()

Values from inheritance of protected member 2

# Polymorphism (many forms) in classes

In [75]:
# let us take 3 classes which have similar structure.

class School():
    def strength(self):
        print("School Strength is 9000")
    def location(self):
        print("School is located in point A")
    def subjects(self):
        print("School teaches most subjects")

In [76]:
class College():
    def strength(self):
        print("College Strength is 1000")
    def location(self):
        print("College is located in point B")
    def subjects(self):
        print("College has lectures on specialized subjects")

In [77]:
class University():
    def strength(self):
        print("University Strength is 15000")
    def location(self):
        print("University is located in point C")
    def subjects(self):
        print("University teaches doctorates and post graduates")

In [78]:
obj_sch = School()
obj_col = College()
obj_uni = University()

In [79]:
for object in (obj_sch, obj_col, obj_uni):
    object.strength()
    object.location()
    object.subjects()

School Strength is 9000
School is located in point A
School teaches most subjects
College Strength is 1000
College is located in point B
College has lectures on specialized subjects
University Strength is 15000
University is located in point C
University teaches doctorates and post graduates

In [80]:
import pandas as pd

df = pd.read_csv('D:\\Knowledge\\Training\\employee_data.csv')

In [81]:
df.head()

,AVG_MONTHLY_HRS,DEPT_ID,FILED_COMPLAINT,LAST_EVALUATION,N_PROJECTS,RECENTLY_PROMOTED,SALARY,SATISFACTION,STATUS,TENURE,EMPLOYEE_ID,DEPT_NAME,DEPT_HEAD
0,246,D00-PD,0,0.866838,6,0,medium,0.134415,Left,4,124467,Product,Darcy Staines
1,134,D00-PD,0,0.555718,2,0,low,0.511041,Left,3,112210,Product,Darcy Staines
2,156,D00-SS,1,0.474082,2,0,medium,0.405101,Left,3,126150,Sales,Edward J Bayley
3,256,D00-SP,0,0.961360,6,0,low,0.152974,Left,4,125346,Support,Amelia Westray
4,146,D00-SS,0,0.507349,2,0,medium,0.434845,Left,3,113707,Sales,Edward J Bayley

In [82]:
df.tail()

,AVG_MONTHLY_HRS,DEPT_ID,FILED_COMPLAINT,LAST_EVALUATION,N_PROJECTS,RECENTLY_PROMOTED,SALARY,SATISFACTION,STATUS,TENURE,EMPLOYEE_ID,DEPT_NAME,DEPT_HEAD
14145,245,D00-SS,0,0.850785,6,0,medium,0.225084,Employed,5,101809,Sales,Edward J Bayley
14146,192,D00-SS,0,0.951901,3,0,medium,0.539834,Employed,3,116153,Sales,Edward J Bayley
14147,175,D00-MN,0,0.854538,4,0,medium,0.934465,Employed,3,119780,Management,Ellie Trafton
14148,268,D00-MT,0,0.900887,5,0,medium,0.906613,Left,5,115325,Marketing,Reuben Swann
14149,268,D00-IT,1,0.897098,2,0,low,0.459371,Employed,4,112312,IT,Henry Adey

In [83]:
df.describe()

,AVG_MONTHLY_HRS,FILED_COMPLAINT,LAST_EVALUATION,N_PROJECTS,RECENTLY_PROMOTED,SATISFACTION,TENURE,EMPLOYEE_ID
count,14150.000000,14150.000000,14150.000000,14150.000000,14150.000000,14150.000000,14150.000000,14150.000000
mean,199.994346,0.144594,0.719070,3.778304,0.020989,0.621542,3.494064,112080.750247
std,50.833697,0.351703,0.163820,1.250162,0.143354,0.249172,1.455709,8748.202856
min,49.000000,0.000000,0.316175,1.000000,0.000000,0.040058,2.000000,0.000000
25%,155.000000,0.000000,0.579512,3.000000,0.000000,0.452824,3.000000,105772.500000
50%,199.000000,0.000000,0.728827,4.000000,0.000000,0.652394,3.000000,111291.500000
75%,245.000000,0.000000,0.857037,5.000000,0.000000,0.822965,4.000000,116650.750000
max,310.000000,1.000000,1.000000,7.000000,1.000000,1.000000,10.000000,148988.000000

In [87]:
import pandas as pd
class Preprocess:
    def __str__(self):
        return "this is preprocessing step"

    def __init__(self, path):
        self.path = path

    def read_from_path(self):
        self.data = pd.read_csv(self.path)
        
    def display_df(self):
        print(self.data.head())
        print(self.data.tail())
        print(self.data.describe())

In [88]:
data_cls = Preprocess('D:\\Knowledge\\Training\\employee_data.csv')

In [89]:
print(data_cls)

this is preprocessing step

In [90]:
data_cls.read_from_path()

In [91]:
data_cls.display_df()

   AVG_MONTHLY_HRS DEPT_ID  FILED_COMPLAINT  LAST_EVALUATION  N_PROJECTS  \
0              246  D00-PD                0         0.866838           6
1              134  D00-PD                0         0.555718           2
2              156  D00-SS                1         0.474082           2
3              256  D00-SP                0         0.961360           6
4              146  D00-SS                0         0.507349           2

   RECENTLY_PROMOTED  SALARY  SATISFACTION STATUS  TENURE  EMPLOYEE_ID  \
0                  0  medium      0.134415   Left       4       124467
1                  0     low      0.511041   Left       3       112210
2                  0  medium      0.405101   Left       3       126150
3                  0     low      0.152974   Left       4       125346
4                  0  medium      0.434845   Left       3       113707

  DEPT_NAME        DEPT_HEAD
0   Product    Darcy Staines
1   Product    Darcy Staines
2     Sales  Edward J Bayley
3   Support   Amelia Westray
4     Sales  Edward J Bayley
       AVG_MONTHLY_HRS DEPT_ID  FILED_COMPLAINT  LAST_EVALUATION  N_PROJECTS  \
14145              245  D00-SS                0         0.850785           6
14146              192  D00-SS                0         0.951901           3
14147              175  D00-MN                0         0.854538           4
14148              268  D00-MT                0         0.900887           5
14149              268  D00-IT                1         0.897098           2

       RECENTLY_PROMOTED  SALARY  SATISFACTION    STATUS  TENURE  EMPLOYEE_ID  \
14145                  0  medium      0.225084  Employed       5       101809
14146                  0  medium      0.539834  Employed       3       116153
14147                  0  medium      0.934465  Employed       3       119780
14148                  0  medium      0.906613      Left       5       115325
14149                  0     low      0.459371  Employed       4       112312

        DEPT_NAME        DEPT_HEAD
14145       Sales  Edward J Bayley
14146       Sales  Edward J Bayley
14147  Management    Ellie Trafton
14148   Marketing     Reuben Swann
14149          IT       Henry Adey
       AVG_MONTHLY_HRS  FILED_COMPLAINT  LAST_EVALUATION    N_PROJECTS  \
count     14150.000000     14150.000000     14150.000000  14150.000000
mean        199.994346         0.144594         0.719070      3.778304
std          50.833697         0.351703         0.163820      1.250162
min          49.000000         0.000000         0.316175      1.000000
25%         155.000000         0.000000         0.579512      3.000000
50%         199.000000         0.000000         0.728827      4.000000
75%         245.000000         0.000000         0.857037      5.000000
max         310.000000         1.000000         1.000000      7.000000

       RECENTLY_PROMOTED  SATISFACTION        TENURE    EMPLOYEE_ID
count       14150.000000  14150.000000  14150.000000   14150.000000
mean            0.020989      0.621542      3.494064  112080.750247
std             0.143354      0.249172      1.455709    8748.202856
min             0.000000      0.040058      2.000000       0.000000
25%             0.000000      0.452824      3.000000  105772.500000
50%             0.000000      0.652394      3.000000  111291.500000
75%             0.000000      0.822965      4.000000  116650.750000
max             1.000000      1.000000     10.000000  148988.000000

In [92]:
class Preprocess:
    def __init__(self, path):
        self.path = path

    def read_from_path(self):
        self.data = pd.read_csv(self.path)
    def display_df(self):
        print(self.data.head())
        print(self.data.tail())
        print(self.data.describe())
    def __call__(self):
        self.read_from_path()
        self.display_df()

In [93]:
data_cls2 = Preprocess('D:\\Knowledge\\Training\\employee_data.csv')

In [94]:
print(data_cls2)

<__main__.Preprocess object at 0x000002043CF11BD0>

In [95]:
data_cls2()

   AVG_MONTHLY_HRS DEPT_ID  FILED_COMPLAINT  LAST_EVALUATION  N_PROJECTS  \
0              246  D00-PD                0         0.866838           6
1              134  D00-PD                0         0.555718           2
2              156  D00-SS                1         0.474082           2
3              256  D00-SP                0         0.961360           6
4              146  D00-SS                0         0.507349           2

   RECENTLY_PROMOTED  SALARY  SATISFACTION STATUS  TENURE  EMPLOYEE_ID  \
0                  0  medium      0.134415   Left       4       124467
1                  0     low      0.511041   Left       3       112210
2                  0  medium      0.405101   Left       3       126150
3                  0     low      0.152974   Left       4       125346
4                  0  medium      0.434845   Left       3       113707

  DEPT_NAME        DEPT_HEAD
0   Product    Darcy Staines
1   Product    Darcy Staines
2     Sales  Edward J Bayley
3   Support   Amelia Westray
4     Sales  Edward J Bayley
       AVG_MONTHLY_HRS DEPT_ID  FILED_COMPLAINT  LAST_EVALUATION  N_PROJECTS  \
14145              245  D00-SS                0         0.850785           6
14146              192  D00-SS                0         0.951901           3
14147              175  D00-MN                0         0.854538           4
14148              268  D00-MT                0         0.900887           5
14149              268  D00-IT                1         0.897098           2

       RECENTLY_PROMOTED  SALARY  SATISFACTION    STATUS  TENURE  EMPLOYEE_ID  \
14145                  0  medium      0.225084  Employed       5       101809
14146                  0  medium      0.539834  Employed       3       116153
14147                  0  medium      0.934465  Employed       3       119780
14148                  0  medium      0.906613      Left       5       115325
14149                  0     low      0.459371  Employed       4       112312

        DEPT_NAME        DEPT_HEAD
14145       Sales  Edward J Bayley
14146       Sales  Edward J Bayley
14147  Management    Ellie Trafton
14148   Marketing     Reuben Swann
14149          IT       Henry Adey
       AVG_MONTHLY_HRS  FILED_COMPLAINT  LAST_EVALUATION    N_PROJECTS  \
count     14150.000000     14150.000000     14150.000000  14150.000000
mean        199.994346         0.144594         0.719070      3.778304
std          50.833697         0.351703         0.163820      1.250162
min          49.000000         0.000000         0.316175      1.000000
25%         155.000000         0.000000         0.579512      3.000000
50%         199.000000         0.000000         0.728827      4.000000
75%         245.000000         0.000000         0.857037      5.000000
max         310.000000         1.000000         1.000000      7.000000

       RECENTLY_PROMOTED  SATISFACTION        TENURE    EMPLOYEE_ID
count       14150.000000  14150.000000  14150.000000   14150.000000
mean            0.020989      0.621542      3.494064  112080.750247
std             0.143354      0.249172      1.455709    8748.202856
min             0.000000      0.040058      2.000000       0.000000
25%             0.000000      0.452824      3.000000  105772.500000
50%             0.000000      0.652394      3.000000  111291.500000
75%             0.000000      0.822965      4.000000  116650.750000
max             1.000000      1.000000     10.000000  148988.000000