# Data Structures

- An overview of common data types that we come across in python.

## Int and Float

In [4]:
Age = 16
print(type(Age))

<class 'int'>

In [11]:
isinstance(Age, str)

False

In [5]:
isinstance(Age, float)

False

In [6]:
isinstance(Age, int)

True

In [7]:
x = 10
type(x)

int

In [8]:
y = 12.5
type(y)

float

In [9]:
# int and floats can be used with operands
x+y

22.5

In [10]:
type(x+y)

float

## Lists

- lists are ordered. They have indexes.
- They are mutable, any element can be replaced within the variable.
- new set of elements can be added to lists.
- They are denoted by square brackets.

In [16]:
# lst is list of numbers here.
lst = [1, 2, 3, 4, 5, 6.7, 'sanjeev', True]

In [17]:
print(type(lst))

<class 'list'>

In [18]:
lst[0]

1

In [19]:
lst[1]

2

In [20]:
lst[0] = 10
lst

[10, 2, 3, 4, 5, 6.7, 'sanjeev', True]

#### Accessing elements within lists using index

- In Python the indexes start from 0 rather than 1.
- In other words, use 0 for first and 1 for second and so on.

In [21]:
# As lists are ordered, they have indexes by default.
# Each element can be accessed by its index.
# accessing the first element by using index 0
lst[0]

10

In [22]:
lst[1]

2

In [23]:
# access the last element
lst[-1]

True

In [24]:
# last but one
lst[-2]

'sanjeev'

In [25]:
len(lst)

8

In [26]:
# we can use indexes that are available.
# any beyond will throw an error
lst[10]

IndexError: list index out of range

#### Common list operations

##### Append

- Adding an element to existing list by using append.

In [27]:
lst

[10, 2, 3, 4, 5, 6.7, 'sanjeev', True]

In [28]:
lst0 = ['a', 'b', 'c', 'd']
print(lst0)

['a', 'b', 'c', 'd']

In [29]:
lst0.append('e')

In [30]:
lst0

['a', 'b', 'c', 'd', 'e']

In [31]:
lst0.append('e', 'f')

TypeError: list.append() takes exactly one argument (2 given)

In [33]:
lst0 = ['a', 'b', 'c', 'd']
lst0.append(5)
print(lst0)

['a', 'b', 'c', 'd', 5]

In [34]:
lst0 = lst0.append('f')
lst0

In [35]:
print(lst0)

None

In [37]:
lst0.append(20)
lst0

AttributeError: 'NoneType' object has no attribute 'append'

##### Extend

- adding two lists by using extend

In [38]:
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]
lst1.extend(lst2)
lst1

[1, 2, 3, 4, 5, 6]

In [40]:
lst1.append(lst2)
lst1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [41]:
lst1[-1]

[4, 5, 6]

In [39]:
lst2

[4, 5, 6]

##### Insert

- insert an element using an index

In [42]:
lst1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [47]:
# notice how elements shift towards right.
print(lst1)
lst1.insert(0, -1)
print(f"list value after putting -1 at 0th index: {lst1}")
print("list value after putting -1 at 0th index:",  lst1)

[1, 2, 3, 4, 5, 6, [4, 5, 6]]
list value after putting -1 at 0th index: [-1, 1, 2, 3, 4, 5, 6, [4, 5, 6]]
list value after putting -1 at 0th index: [-1, 1, 2, 3, 4, 5, 6, [4, 5, 6]]

##### Remove

- remove an element

In [48]:
lst1.remove(-1)
lst1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [49]:
lst1.remove(-1)
lst1

ValueError: list.remove(x): x not in list

- when there are duplicates it removes only one element at a time.

In [50]:
lst3 = [1, 1]
lst3.remove(1)
lst3

[1]

- cannot remove an element which is not present in list

In [51]:
lst3=[1, 3, 5, 'a', 'b']
lst3.remove('b')

In [52]:
lst3

[1, 3, 5, 'a']

In [53]:
lst3.remove(2)

ValueError: list.remove(x): x not in list

##### Pop

- pop removes last element of list
- result shows which element was dropped
- cannot pop an empty list

In [54]:
lst1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [55]:
print(lst1)
print(lst1.pop())
print(lst1)

[1, 2, 3, 4, 5, 6, [4, 5, 6]]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [56]:
# pop uses indexes. When no value is passed, it removes last index in list.
lst1.pop(0)

1

In [57]:
lst1

[2, 3, 4, 5, 6]

In [58]:
lst1.pop(-2)
print(lst1)

[2, 3, 4, 6]

##### Slicing

In [60]:
lst1 = [1, 2, 3, 4, 5, 6]
print(lst1)
# fetch first 2 elements
print(lst1[:2])

[1, 2, 3, 4, 5, 6]
[1, 2]

In [61]:
# fetch first 3 elements
print(lst1[0:3])

[1, 2, 3]

In [62]:
print(lst1[1:3])

[2, 3]

In [63]:
len(lst1)

6

In [64]:
lst1[6]

IndexError: list index out of range

In [66]:
print(lst1[:10])

[1, 2, 3, 4, 5, 6]

In [67]:
# fetch last 2 elements
lst1[-2:]

[5, 6]

In [69]:
lst1[-4:-2]

[3, 4]

In [70]:
#todo: how to pass random indexes to slicing in lists.

##### Reverse

In [71]:
lst1.reverse()
lst1

[6, 5, 4, 3, 2, 1]

In [72]:
sorted(lst1)

[1, 2, 3, 4, 5, 6]

In [73]:
lst1.append('a')
lst1.append(True)
lst1.append([1,2,3])

In [74]:
lst1

[6, 5, 4, 3, 2, 1, 'a', True, [1, 2, 3]]

In [75]:
sorted(lst1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [79]:
lst0 =['#', '1', 'z', 'a', 'y', '$', 'b', 'c', 'd']
sorted(lst0)

['#', '$', '1', 'a', 'b', 'c', 'd', 'y', 'z']

## Tuples

In [80]:
tpl = (1, 2, 3, 4, 5)
type(tpl)

tuple

In [81]:
print(type(tpl))

<class 'tuple'>

In [82]:
tpl[0]

1

In [83]:
tpl[-1]

5

In [84]:
# tuples are non mutable and we cannot modify values within them
tpl[0] = 10

TypeError: 'tuple' object does not support item assignment

## String

In [85]:
x = 'abc,'
x = "abc"
x[0]

'a'

In [86]:
z = 'a, b, c, d'
z[0]

'a'

In [87]:
z[1]

','

In [88]:
# strings are non-mutable
x[0]='z'

TypeError: 'str' object does not support item assignment

In [89]:
type(x)

str

## Sets

In [90]:
st = {1, 2, 2, 3, 4, 5}
print(st)

{1, 2, 3, 4, 5}

In [91]:
st[0]

TypeError: 'set' object is not subscriptable

In [92]:
lst = [1, 2, 2, 3, 4, 5]
lst = list(set(lst))
lst

[1, 2, 3, 4, 5]

In [93]:
# lsit comprehension
x = []
[x.append(y) for y in lst if y not in x]

[None, None, None, None, None]

In [94]:
x

[1, 2, 3, 4, 5]

In [95]:
# sets do not have indexes
st[0]

TypeError: 'set' object is not subscriptable

In [96]:
type(st)

set

## Dictionary

In [97]:
mydict = {"name": "sanjeev", "age":"36", "coo":"India"}

In [98]:
type(mydict)

dict

In [99]:
mydict["name"]

'sanjeev'

In [100]:
mydict["name"]="blah"
mydict

{'name': 'blah', 'age': '36', 'coo': 'India'}

In [101]:
mydict = {"name": "sanjeev", "age":"36", "coo":"India"}

In [102]:
mydict["coo"]

'India'

In [103]:
# assinging new key
mydict["new_key"] = "new_value"
mydict

{'name': 'sanjeev', 'age': '36', 'coo': 'India', 'new_key': 'new_value'}

#### Common operations on Dictionary datatype

##### Keys

- shows list of keys

In [104]:
mydict.keys()

dict_keys(['name', 'age', 'coo', 'new_key'])

##### Items

- shows list of item mappings

In [105]:
mydict.items()

dict_items([('name', 'sanjeev'), ('age', '36'), ('coo', 'India'), ('new_key', 'new_value')])

In [106]:
for i in mydict.items():
    print(i)

('name', 'sanjeev')
('age', '36')
('coo', 'India')
('new_key', 'new_value')

- shows list of values

In [107]:
mydict.values()

dict_values(['sanjeev', '36', 'India', 'new_value'])

##### Pop

In [108]:
# removes element with specified key, returns the value being dropped.
mydict.pop('coo')

'India'

In [109]:
mydict

{'name': 'sanjeev', 'age': '36', 'new_key': 'new_value'}

##### Popitem

In [110]:
mydict.popitem()

('new_key', 'new_value')

In [111]:
mydict

{'name': 'sanjeev', 'age': '36'}

##### Clear

- clears/removes all elements from dictionary

In [112]:
mydict.clear()
mydict

{}

In [ ]:
# int/float -- 0/0.0 is considered False
# list [] is false
# () is false
# {} is false

In [113]:
x = [1]
bool(x)

True

In [114]:
x = []
bool(x)

False

In [116]:
if x:
    print('x is not empty')
else:
    print("condition did not pass")

condition did not pass

## Boolean

- It is just True or False
- In context of Python, digit 0 is False and any other digit is True
- Similarly any empty data structure is False.

In [117]:
type(True)

bool

In [118]:
type(False)

bool

In [119]:
x = 0
x = bool(x)
print(x)
type(x)

False

bool

In [120]:
x = 1
x = bool(x)
print(x)
type(x)

True

bool

In [121]:
x = -1
x = bool(x)
print(x)
type(x)

True

bool

In [122]:
x = []
x = bool(x)
print(x)
type(x)

False

bool

In [123]:
x = [1]
x = bool(x)
print(x)
type(x)

True

bool

In [124]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

## Data Type conversion

In [3]:
z = 10.375
print(z)
z = str(z)

print(type(z))
z

10.375
<class 'str'>

'10.375'

In [ ]:
z

In [ ]:
type(z)

In [4]:
z = '10'
z = int(z)
z, type(z)

(10, int)

In [5]:
z

10

In [6]:
type(z)

int

In [7]:
z = '10.5'
z = int(z)

ValueError: invalid literal for int() with base 10: '10.5'

In [8]:
z = '10.5'
z = float(z)
z

10.5

In [9]:
type(z)

float

In [10]:
z = '10.5'
z = float(z)
z = int(z)
z

10

In [11]:
z = 0
z = bool(z)
z

False

In [12]:
z = []
z = bool(z)
z

False

In [13]:
x = 5
list(x)

TypeError: 'int' object is not iterable

In [14]:
x = 5
x = set(x)

TypeError: 'int' object is not iterable