In [1]:
x = [1, 2, 3]
y = x
x.append(4)
print(x)
print(y)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [2]:
import copy
x = [1, 2, 3]
y = copy.copy(x)
x.append(4)
print(x)
print(y)

[1, 2, 3, 4]
[1, 2, 3]

In [3]:
x = {'a':1, 'b':2, 'c':3}
y=x # shallow copy
x['d']=4
print(x)
print(y)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [4]:
x = {'a':1, 'b':2, 'c':3}
y=copy.copy(x) #deep copy
x['d']=4
print(x)
print(y)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# len, isinstance, type

- Functions are block of code which are executed only when they are called.
- they may or may not have an argument to process.
- common built-in functions in python are discussed here.

# Overview of few built-in functions

In [5]:
# We have already seen built-in functions like print
# print is just to show the output to the console.
print('Hello World!')

Hello World!

In [6]:
# Print can accept any set of arguments
print("Hello World!", "This is Built-in function")

Hello World! This is Built-in function

In [7]:
# we can have separator
print("Hello World!", "This is Built-in functions", "hey", sep = ' | ')

Hello World! | This is Built-in functions | hey

In [8]:
for x in (1, 2, 3, 4):
    print(x)

1
2
3
4

In [9]:
# representation of new line is \n

In [10]:
for x in (1, 2, 3, 4):
    print(x, end = '\n')

1
2
3
4

In [11]:
for x in (1, 2, 3, 4):
    print(x, end = '|')

1|2|3|4|

In [12]:
# Type function - to get type of a variable.
type('Hello World!')

str

In [13]:
print(type('Hello world!'))

<class 'str'>

In [15]:
# The other function we saw were in data conversion.
x = '5'
print(type(x))
x = int(x)
print(x)
type(x)

<class 'str'>
5

int

In [16]:
# notice that the output only shows y but not x. 
x = 5
x
y = 6
y

6

In [17]:
# outputs are replaced when the print function is not used.
x = 5
print(x)
y = 6
print(y)

5
6

In [18]:
int()

0

In [ ]:
# Try out bool(), str(), float(), list(), dict(), set()

In [19]:
# All checks if all elements within iterable is true
all([True, True, False, True])

False

- just a reminder. iterable is anything that can be looped over.

In [20]:
all([True, True, True, True])

True

In [21]:
all([False, False, False])

False

In [22]:
if all([True, True, True, True]):
    print("Execute all body of this if statement")

Execute all body of this if statement

In [23]:
if all([True, False, True, True]):
    print("Execute all body of this if statement")

cond 1==1 and 2==2 end result is true
cond 1==4 or 2==2 end result is  true as one condition is true

In [24]:
any([True, False, False, False])

True

In [25]:
any([False, False, True, False])

True

In [26]:
any([False, False, False])

False

In [27]:
all([False, False, False])

False

In [28]:
bool(0)

False

In [29]:
bool(1)

True

In [30]:
bool([])

False

In [31]:
bool(['1'])

True

In [32]:
myset = {0, 1, 0}
print(myset)
all(myset)

{0, 1}

False

In [33]:
# here it looks at keys of a dictionary.
mydict = {0 : "Apple", 1 : "Orange"}
print(mydict.keys())
all(mydict)

dict_keys([0, 1])

False

In [34]:
mydict = {2 : "Apple", 1 : "Orange"}
all(mydict)

True

In [37]:
mydict = {0 : "Apple", 1 : "Orange"}
all(mydict.keys())

False

In [38]:
mydict = {2 : "Apple", 1 : "Orange"}
all(mydict.keys())

True

In [36]:
mydict = {}
all(mydict)
if mydict:
    print("hello")

In [ ]:
# just like all(), we have any(). function any() check if atleast one value is true

In [ ]:
# tryout any() function with various iterables.

In [28]:
# Sum to check total of iterable
sum([1, 2, 3, 4])

10

In [30]:
# Sum to check total of iterable
sum([1, 2, 3, 6.5])

12.5

In [29]:
sum((1,2))

3

In [39]:
4 + '5'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
sum([1, 2, 3, '4'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
sum(['1', '2'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
'1' + '2'

'12'

In [ ]:
# try out min, max function

In [42]:
min([1, 2, 3, 10, -5])

-5

In [43]:
lst = [1, 99, -5, 10, 77]
print(min(lst))

-5

In [45]:
max(lst)

99

In [46]:
# use len function to get count of iterable
len([1, 2, 3, 4])

4

In [47]:
x = (1, 2, 3, 4, '5')
len(x)

5

In [48]:
mydict

{2: 'Apple', 1: 'Orange'}

In [49]:
# in case of dictionaries, it checks for number of keys available.
len(mydict)

2

In [50]:
len(mydict.keys())

2

In [51]:
len(mydict.values())

2

In [52]:
len(mydict.items())

2

In [53]:
# Absolute function
x = -5
x = abs(x)
x

5

In [54]:
x = ['x', 'y', 'z']
counter = 0
for elm in x:
    print(f"counter is {counter}")
    print(f"elment is {elm}")
    counter += 1

counter is 0
elment is x
counter is 1
elment is y
counter is 2
elment is z

In [55]:
# enumerate is a function which iterates to create a enumerate object.
x = ['x', 'y', 'z']
for idx, elm in enumerate(x):
    print(f"index is {idx}")
    print(f"element is {elm}")

index is 0
element is x
index is 1
element is y
index is 2
element is z

In [56]:
# eval evaluates a string expression
x = '5 + 6'
print(x)
eval(x)

5 + 6

11

In [58]:
x = 'sum([5, 6])'
eval(x)

11

In [59]:
# isinstance checks for equality
isinstance(5, int)

True

In [60]:
isinstance(5.6, int)

False

In [61]:
isinstance(5.7, float)

True

In [62]:
isinstance('5', int)

False

In [63]:
isinstance('5', str)

True

In [64]:
x = [1, 2, 3]
isinstance(x, list)

True

In [56]:
isinstance(x, set)

False

In [65]:
# range return sequenced numbers
range(0, 10)

range(0, 10)

In [66]:
for x in range(0, 10):
    print(x, end=' | ')

0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 |

In [67]:
for x in range(0, 10, 2):
    print(x, end=' | ')

0 | 2 | 4 | 6 | 8 |

In [68]:
for x in range(1, 10, 2):
    print(x, end=' | ')

1 | 3 | 5 | 7 | 9 |

In [69]:
for x in range(1, 10, 3):
    print(x, end=' | ')

1 | 4 | 7 |

In [70]:
# sorted, sorts list
sorted([9, 7, 5, 10, 1, 2])

[1, 2, 5, 7, 9, 10]

In [71]:
sorted(['a', 'a1', 'b2', 1, 2, True, '1a'])

TypeError: '<' not supported between instances of 'int' and 'str'

In [73]:
sorted(['z', 'a', 'b', '#', '$', 'c', '1a', 'za'])

['#', '$', '1a', 'a', 'b', 'c', 'z', 'za']

In [74]:
# reversed reverses elements in list
y = []
for x in reversed([1, 2, 3]):
    y.append(x)
y

[3, 2, 1]

- Some more built-in function are available in url https://docs.python.org/3/library/functions.html

# Error handling

In [65]:
# user defined function
def add_values(x, y):
    return x+y

In [66]:
add_values(1, 5)

6

In [67]:
add_values(1.1, 5.9)

7.0

In [73]:
print(add_values(6, 5))
print('hey')
print('world!')

11
hey
world!

In [68]:
'x'+5

TypeError: can only concatenate str (not "int") to str

In [69]:
'x'+'5'

'x5'

In [71]:
add_values('x', 5)
print('hey')
print('world!')

TypeError: can only concatenate str (not "int") to str

In [75]:
def add_values_latest(x, y):
    try:
        print("Processing Request")
        return x+y
    except Exception as e:
        print("Request could not be processed")
        print(f"Error occured in add_values_latesr due to {e}")

In [76]:
add_values_latest('x', 5)

Processing Request
Request could not be processed
Error occured in add_values_latesr due to can only concatenate str (not "int") to str

In [76]:
add_values_latest(6, 5)

Processing Request

11

In [77]:
add_values_latest(6.9, 5)

Processing Request

11.9

In [78]:
add_values_latest('6', '5')

Processing Request

'65'

In [79]:
def add_values_latest(x, y):
    try:
        print("Processing Request")
        # if isinstance(x, int) and isinstance(y, int):
        #     return x+y
        # else:
        #     print("wrong data types sent")
        #     return None
        return float(x)+float(y)
    except Exception as e:
        print("Request could not be processed")
        print(f"Error occured in add_values_latesr due to {e}")

In [80]:
add_values_latest('6', '5')

Processing Request

11.0

In [81]:
add_values_latest('6.1', '5.9')

Processing Request

12.0

In [83]:
add_values_latest(6.73, 5.95)

Processing Request

12.68

In [84]:
x = 'a'
y = '5.9'

In [85]:
try:
    x = float(x)
    y = float(y)
    print(x+y)
except Exception as e:
    print(e)

could not convert string to float: 'a'

In [86]:
x = '5.9'
y = '6.1'
try:
    x = float(x)
    y = float(y)
    print(x+y)
except Exception as e:
    print(e)

12.0

In [87]:
try:
    print('a'+5)
except Exception as e:
    print(e)
    print('a'+5)

can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

# Class in python

In [88]:
x = dict()
print(x)

{}

In [89]:
x['name'] = 'blah'
x['coo'] = 'foo'
print(x)

{'name': 'blah', 'coo': 'foo'}

In [94]:
x['name']

'blah'

In [90]:
class TestClass:
    def __init__(self, name, coo):
        self.name = name
        self.coo = coo

In [91]:
tc = TestClass('blah', 'foo')

In [92]:
type(tc)

__main__.TestClass

In [93]:
tc.name

'blah'

In [95]:
tc.coo

'foo'

In [105]:
class MyClass:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        print(f"my values in self is {self.x}")
        print(f"my values in self is {self.y}")
    def add_nums(self):
        return self.x + self.y
    def do_nothin(self):
        print('doing nothing')

In [106]:
mycls = MyClass(1, 2)

my values in self is 1
my values in self is 2

In [107]:
mycls.x

1

In [108]:
mycls.y

2

In [109]:
add_nums(1, 2)

NameError: name 'add_nums' is not defined

In [110]:
mycls.add_nums()

3

In [111]:
mycls.add_nums(3, 4)

TypeError: MyClass.add_nums() takes 1 positional argument but 3 were given

In [112]:
mycls.do_nothin()

doing nothing

In [113]:
add_values(1, 2)

3

In [114]:
add_values(1, 2, 3)

TypeError: add_values() takes 2 positional arguments but 3 were given